/* Optional styling for toolbar */
mat-toolbar {
    display: flex;
    align-items: center;
}

.main-toolbarheader {
    background: lightgray;
}

::ng-deep .custom-tooltip {
    background-color: #e74c3c;
    color: white;
    font-weight: bold;
    font-size: 13px;
    position: relative !important;
    right: 20px !important;
}

::ng-deep .custom-tooltip::after {
    content: '';
    font-size: 10px;
    position: absolute;
    left: -11px;
    position: absolute;
    top: 8px;
    transform: rotate(-90deg);
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #e74c3c transparent;
}